<div class="container">
    <h2>{{title}}</h2>
    <div class="message succes" *ngIf="status">
        El proyecto se ha creado correctamente, puedes <a href="">verlo aqui</a>
    </div>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
            <span class="form_error" *ngIf="name.touched && !name.valid">
                *El campo nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="">Descripcion</label>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required>
            </textarea>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                *El campo Descripcion es obligatorio
            </span>
        </p>
        <p>
            <label for="">Categotria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
            <span class="form_error" *ngIf="category.touched && !category.valid">
                *El campo Categotria es obligatorio
            </span>
        </p>
        <p>
            <label for="">Año de lanzamiento</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="project.year" required>
            <span class="form_error" *ngIf="year.touched && !year.valid">
                *El campo Año es obligatorio
            </span>
        </p>
        <p>
            <label for="">Lenguajes</label>
            <input type="text" name="lang" #lang="ngModel" [(ngModel)]="project.langs" required>
            <span class="form_error" *ngIf="lang.touched && !lang.valid">
                *El campo Lenguajes es obligatorio
            </span>
        </p>
        <p>
            <label for="">Imagen</label>
            <input type="file" name="image" placeholder="subir imagen" (change)="fileChangeEvent($event)">
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>