<header>
    <ul>
        <li><a [routerLink]="['./sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
        <li><a [routerLink]="['./proyectos']" [routerLinkActive]="['actived']">proyectos</a></li>
        <li class="logo"><a href="">AC</a></li>
        <li><a [routerLink]="['./crear-proyecto']" [routerLinkActive]="['actived']">Crear Pr</a></li>
        <li><a [routerLink]="['./contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
</header>
<section id="content">
    <router-outlet></router-outlet>
</section>
<footer>
    DragoDEV practicando proyecto con nodeJS Angular y JS
</footer>